<section>
  <div>
    <h1>Log In</h1>
  </div>
  <div>
    <form>
      <div>
          <label for="username">Username</label>
          <input type="text" id="username">
      </div>
      <div>
          <label for="password">Password</label>
          <input type="text" id="username">
      </div>
      <div>
          <button type="submit">Log In</button>
      </div>




    </form>
  </div>


</section>
<script src="/public/js/login.js"></script>