<section>
  <div>



  </div>
  <div>
      <form>
        <div>
                <label for="username-signup">Create a Username</label>
                <input type="text" class="entry-field" id="username-signup" />
        </div>
        <div>
                <label for="password-signup">Create a Password</label>
                <input type="password" class="entry-field" id="password-signup" />
        </div>
        <div>
                <button type="submit" class="login-signup-btn">Sign Up</button>
        </div>

      </form>
  </div>

</section>
<script src="/public/js/signup.js"></script>